<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - SmartNote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav>
    <h1>SmartNote</h1>
    <ul>
        {% if g.user %}
        <li><span>Welcome {{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout!</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Sign Up!</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login!</a></li>
        {% endif %}
    </ul>
</nav>

<body>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %} {% block content %}{% endblock %}
    </section>

</body>

</html>